@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=DM Sans');
@import url('');

.nav-cell {
   text-decoration:none;
   border:solid #223b1f;
   text-align:center;
}

body {
    background-color: #576356;
    line-height: 1.5;
}

.header {
   text-align: center;
   font-family: bebas neue;
   font-size: 100px;
   color: white;
   padding: 100px;
}


.headerbox {
   background-image:url(images/header-backdrop.png);
   border: 3px solid #223b1f;
}

.subheading {
    text-align: left;
    margin-left: 5px;
    font-family: ubuntu;
    font-size: 30px;
    color: white;
}

.subsubheading {
    text-align: left;
    margin-left: 15px;
    font-family: dm sans;
    font-size: 20px;
    color: white;
}

.text {
    margin: auto;
    font-family: dm sans;
    color: white;
    width: 1000px;
}

.bold {
    font-weight: bold;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding-top: 30px;
}

.sources {
    text-align: center;
    margin: 30px;
    font-family: dm sans;
    color: white;
    line-height: 3;
}

hr {
    border: 2px solid #2b4f27;
}

.a, button {
    text-decoration:none;
    color:white;
    padding:17px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:rgb(46, 66, 52);
    width:10%;
    height:70px;
    margin-left:2px;
    font-family: ubuntu;
    vertical-align: middle;
    cursor: pointer;
    border:solid 1px green;
 }


.nav2 {
   display:block;
   width:100px;
   line-height:2.5;
   border:solid;
   border-color:rgb(46,66,52);
   background-color:rgb(46,66,52);
}

a:hover, button:hover {
    background-color: green;
    border-color: darkgreen;
}